<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>دواءك</name>
    <description>
   تطبيق يحتوي على اسماء الصيدليات وعناوينها والادوية المتوفرة فيها
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
	    <icon src="res/icon.png" />
    


<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="5000" />
<preference name="ShowSplashScreenSpinner" value="false"/>
<preference name="SplashShowOnlyFirstTime" value="false" />

<plugin name="cordova-plugin-splashscreen" source="npm" />
    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
         
    <splash src="res/screen/android/drawable-land-hdpi/screen.png" density="land-hdpi"/>
    <splash src="res/screen/android/drawable-land-ldpi/screen.png" density="land-ldpi"/>
    <splash src="res/screen/android/drawable-land-mdpi/screen.png" density="land-mdpi"/>
    <splash src="res/screen/android/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>

    <splash src="res/screen/android/drawable-port-hdpi/screen.png" density="port-hdpi"/>
    <splash src="res/screen/android/drawable-port-ldpi/screen.png" density="port-ldpi"/>
    <splash src="res/screen/android/drawable-port-mdpi/screen.png" density="port-mdpi"/>
    <splash src="res/screen/android/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>
</platform>
    <platform name="ios">
    
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/></platform>
 
    <platform name="windows">
<platform name="windows">
    <splash src="res/screen/windows/splashscreen.png" target="SplashScreen"/>
    <splash src="res/screen/windows/splashscreenphone.png" target="SplashScreenPhone"/>
</platform>    
</platform>
   <platform name="ios">
  <icon src="res/screen/ios/icon.png" width="180" height="180" />
</platform>

    
<preference name="SplashScreen" value="screen" />

 <preference name='phonegap-version' value='cli-6.5.0' />
<preference name='pgb-builder-version' value='2' />
    
</widget>
